<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button color="primary">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Add Device
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let device of devices$ | async">
      <ion-label> {{ device.name }} </ion-label>
      <ion-button slot="end" size="small" color="primary">
        View Counts
      </ion-button>
      <ion-button slot="end" size="small" color="warning"> Edit </ion-button>
      <ion-button slot="end" size="small" color="danger"> Delete </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
