<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button color="success" href="/add-location">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Add Location
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- wrap your list in an ng-container that captures the async result -->
  <ng-container *ngIf="(locations$ | async) as locations">
    <!-- if there are locations, render the list -->
    <ion-list *ngIf="locations.length > 0; else noLocations">
      <ion-item *ngFor="let location of locations">
        <ion-label> {{ location.name }} </ion-label>
        <ion-button fill="outline" size="default" color="primary">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          <ion-text slot="end">View Counts</ion-text>
        </ion-button>
        <ion-button
          fill="outline"
          size="default"
          color="warning"
          href="/edit-location/{{ location.id }}"
          ><ion-icon name="create-outline"></ion-icon
        ></ion-button>
        <ion-button fill="outline" size="default" color="danger"
          ><ion-icon name="trash-outline"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- fallback when no locations are returned -->
  <ng-template #noLocations>
    <div class="ion-text-center">
      <h2
        class="ion-justify-content-center ion-align-items-center"
        style="display: flex; gap: 0.5rem"
      >
        <ion-icon size="large" name="warning-outline"></ion-icon>
        <span>No Locations Found...</span>
      </h2>
      <ion-note>Please add a location to get started.</ion-note>
    </div>
  </ng-template>
</ion-content>
