<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button color="success">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Add Location
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let location of locations$ | async">
      <ion-label> {{ location.name }} </ion-label>
      <ion-button fill="outline" size="default" color="primary">
        <ion-icon slot="start" name="eye-outline"></ion-icon>
        <ion-text slot="end">View Counts</ion-text>
      </ion-button>
      <ion-button fill="outline" size="default" color="warning"
        ><ion-icon name="create-outline"></ion-icon
      ></ion-button>
      <ion-button fill="outline" size="default" color="danger"
        ><ion-icon name="trash-outline"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
