<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-lg="6" offset-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Edit Device</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form
              *ngIf="(device$ | async) as device"
              #deviceForm="ngForm"
              (ngSubmit)="updateDevice(device.name, device.locationId, device.active)"
            >
              <ion-list lines="none">
                <ion-item>
                  <ion-input
                    [(ngModel)]="device.name"
                    name="name"
                    required
                    #name="ngModel"
                    errorText="Device name is required"
                    label="Device Name"
                    class="ion-text-end"
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-select
                    [(ngModel)]="device.locationId"
                    name="location"
                    required
                    #location="ngModel"
                    label="Device Location"
                    errorText="Location is required"
                    placeholder="Select Location"
                  >
                    <ion-select-option
                      *ngFor="let loc of locations$ | async"
                      [value]="loc.id"
                    >
                      {{ loc.name }} - {{ loc.address }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-checkbox
                    slot="end"
                    [(ngModel)]="device.active"
                    name="active"
                    >Active</ion-checkbox
                  >
                </ion-item>

                <ion-button
                  expand="block"
                  type="submit"
                  [color]="deviceForm.valid ? 'success' : 'medium'"
                  class="ion-margin-top"
                  [disabled]="deviceForm.invalid"
                >
                  <ion-icon slot="start" name="create-outline"></ion-icon>
                  Update Device
                </ion-button>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
