<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Location Counts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Location Count for "{{ locationName }}"
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-margin-bottom">
            <ion-button fill="solid" href="/location">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              Back
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <ag-charts
              [options]="chartOptions"
              style="width: 100%; height: 400px"
            ></ag-charts>
          </ion-col>
          <ion-col size="4">
            <ion-list lines="none">
              <ion-item>
                <ion-label>Start</ion-label>
                <ion-datetime-button
                  datetime="startDatetime"
                ></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      [(ngModel)]="startDate"
                      id="startDatetime"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <ion-item>
                <ion-label>End</ion-label>
                <ion-datetime-button
                  datetime="endDatetime"
                ></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      [(ngModel)]="endDate"
                      id="endDatetime"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <ion-item>
                <ion-select
                  [(ngModel)]="aggregate"
                  name="aggregate"
                  interface="popover"
                  label="Aggregate"
                >
                  <ion-select-option value="minute">Minute</ion-select-option>
                  <ion-select-option value="hour">Hour</ion-select-option>
                  <ion-select-option value="day">Day</ion-select-option>
                  <ion-select-option value="week">Week</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button
                size="default"
                expand="full"
                color="success"
                (click)="onRefresh()"
              >
                <ion-icon slot="start" name="refresh-outline"></ion-icon>
                Refresh
              </ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
