<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Location Counts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Location Count for "{{ locationName }}"
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-margin-bottom">
            <ion-button color="warning" fill="solid" href="/location">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              Back
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ag-charts
              [options]="chartOptions"
              style="width: 100%; height: 400px"
            ></ag-charts>
          </ion-col>

          <ion-col size="3">
            <ion-list>
              <ion-item
                class="ion-margin-bottom"
                (click)="showStartPicker = !showStartPicker"
                button
              >
                <ion-label>Start Date</ion-label>
                <ion-text>{{ startDate | date: 'mediumDate' }}</ion-text>
              </ion-item>

              <ion-item *ngIf="showStartPicker" class="ion-margin-bottom">
                <ion-datetime
                  [(ngModel)]="startDate"
                  name="startDate"
                  presentation="date"
                  (ionChange)="showStartPicker = false"
                ></ion-datetime>
              </ion-item>

              <ion-item
                class="ion-margin-bottom"
                (click)="showEndPicker = !showEndPicker"
                button
              >
                <ion-label>End Date</ion-label>
                <ion-text>{{ endDate | date: 'mediumDate' }}</ion-text>
              </ion-item>

              <ion-item *ngIf="showEndPicker" class="ion-margin-bottom">
                <ion-datetime
                  [(ngModel)]="endDate"
                  name="endDate"
                  presentation="date"
                  (ionChange)="showEndPicker = false"
                ></ion-datetime>
              </ion-item>

              <ion-item class="ion-margin-bottom">
                <ion-select
                  [(ngModel)]="aggregate"
                  name="aggregate"
                  interface="popover"
                >
                  <ion-select-option value="minute">Minute</ion-select-option>
                  <ion-select-option value="hour">Hour</ion-select-option>
                  <ion-select-option value="day">Day</ion-select-option>
                  <ion-select-option value="week">Week</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" class="ion-margin-top">
                <ion-button
                  expand="block"
                  color="success"
                  (click)="onRefresh()"
                >
                  Refresh
                  <ion-icon slot="end" name="refresh-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
